.btn {
    background-color: #33b5e5; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
  }
  button[type=submit]:hover {
    background-color: #1a7a8e;
  }
  .form-group {
    margin-bottom: 12px;
        display: block;
        font-size: 15px;

}
.message{
  color: gray;
}
input[type=text], select {
  width: 100%;
  padding: 8px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number], select {
  width: 100%;
  padding: 8px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
