.btn {
    background-color: #33b5e5; 
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
  }
  .form-group {
    margin-bottom: 12px;
  
        display: block;
        font-size: 15px;

}