<!-- <p>confirmation works!</p> -->
<div class="c-container">
    <div class="c-items">
        <div class="c-header">
            Success! <i class="fa fa-star-half-o"></i>
        </div>
        <div class="c-item">
            Thank you, &nbsp;<b>{{ firstName }}</b>
        </div>
        <div class="c-item">
            Your <b>${{ totals }}</b> order is confirmed!
        </div>
        <div class="c-item">
            Please allow 1-3 business day(s) for shipping.
        </div>
        <div class="c-item">
            <a routerLink="/"> Return to product list </a>
        </div>
    </div>
</div>
