.c-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
  }
  
  .c-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .c-header {
    color: #21d8ae;
    font-size: 30px;
    
  }
  
  .c-item {
    margin-bottom: 30px;
  }